/* ==================================
   FACULTY / STUDENT
================================== */

.roleOptions {

    display: flex;

    gap: 12px;

    width: 100%;
}


.roleOption {

    flex: 1;

    position: relative;

    cursor: pointer;

}


.roleOption input {

    position: absolute;

    opacity: 0;

}


.roleOption span {

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 50px;

    padding: 14px;

    border-radius: 12px;

    border: 1px solid
        rgba(255,255,255,0.15);

    background:
        rgba(0,0,0,0.35);

    color: #9ca8bd;

    font-size: 14px;

    font-weight: 600;

    transition: 0.3s;
}


.roleOption input:checked + span {

    color: white;

    border-color: #20baff;

    background:
        linear-gradient(
            90deg,
            rgba(0,127,255,0.35),
            rgba(123,44,255,0.35)
        );

    box-shadow:
        0 0 20px
        rgba(0,180,255,0.20);
}
